*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.char-box{
    background-color: #14213d;
    color: #fff;
    text-align: center;
    padding: 25px;
    border-radius: 20px;
}
.char-box .box-header{
    margin: 15px 0;
}
.char-box .box-header h1{
    letter-spacing: 2px;
}
.char-box .box-body{
    margin: 15px 0;
    padding: 25px;
    border-bottom: 3px solid #fff;
}
.char-box .box-body h1{
    display: inline-block;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: #fca311;
    color: #14213d;
    letter-spacing: 4px;
    font-size: 3rem;
    text-transform: lowercase;
}
.char-box .box-footer .input{
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 4px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #14213d;
    font-size: 1.2rem;
    transition: all 0.3s linear;
}